html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	background: #005AA3;
}

.top-nav {
	width: 100%;
	height: auto;
	background: #004E8E;
	border-bottom: 1px solid #3184C4;
	text-align: center;
}

.nav-items {
	margin: 0 16px 0 0;
	display: inline-block;
}

.nav-items-social {
	margin: 0 16px 0 0;
	display: inline-block;
}
	
h5 {
	font-family: "Myriad Set Pro", sans-serif;
	font-size: 10px;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	letter-spacing: 1px;
	line-height: 20px;
}

h4 {
	font-family: "Myriad Set Pro", sans-serif;
	font-size: 12px;
	color: #000;
	margin: 0;
	/*padding: 10px 0;*/
	letter-spacing: 1px;
	line-height: 16px;
}

h2 {
	font-family: "Myriad Set Pro", sans-serif;
	font-size: 23px;
	color: #2277B6;
	margin: 0;
	padding: 10px 0;
	letter-spacing: 1px;
	line-height: 20px;
}

.fa {
	color: #fff;
	padding-top: 11px;
    margin: 0 18px 0 0;
}

.light-blue {
	color: #3184C4;
}

.main-content {
	width: 75%;
	height: auto;
	margin: 20px auto;
	background: #fff;
	border: 1px solid #000;
	box-shadow: 2px 2px 10px #000;
	
}

.main-header {
	width: 95%;
	/*border: 1px solid red;*/
	margin: 20px auto;
}

.main-header-item-1 {
	width: 34%;
	/*border: 1px solid green;*/
	display: inline-block;
}

.main-header-item-2 {
	width: 64%;
	/*border: 1px solid green;*/
	display: inline-block;
	float: right;
}

.item {
	width: 15%;
	display: inline-block;
	/*border: 1px solid black;*/
	text-align: center;
	margin: 30px 1px 15px 2px;
}

img {
	width: 100%;
}

.main-image-container {
	width: 90%;
	margin: 0 auto;
}

.secondary-image-container {
	width: 90%;
	margin: 50px auto 17px;
	/*border: 1px solid blue;*/
	text-align: center;
}

.smaller-pic {
	width: 30%;
	margin: 0 12px;
	display: inline-block;
	/*border: 1px solid green;*/
}

.general-container {
	width: 90%;
	margin: 30px auto;
	/*border: 1px solid blue;*/
	text-align: center;
}

.text-box {
	width: 30%;
	margin: 0 12px;
	display: inline-block;
	text-align: left;
	/*border: 1px solid green;*/
}

.right {
	float: right;
}





@media (max-width: 792px){
	.fa {
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.top-nav {
		padding: 0 20px;
	}
}